<footer class="footer">
    <div class="footer-middle">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">{{ 'footer.user_links.head'|trans }}</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('main_homepage') }}">{{ 'footer.user_links.homepage'|trans }}</a>
                        </li>
                        {% if app.user is null %}
                            <li>
                                <a href="{{ path('main_login') }}">{{ 'footer.user_links.login'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('main_registration') }}">{{ 'footer.user_links.sing_up'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {% if app.user is not null %}
                    <div class="col-sm-12 mt-3">
                        <h4 class="widget-title">{{ 'footer.my_account.head'|trans }}</h4>
                        <ul class="widget-list">
                            <li>
                                <a href="{{ path('main_profile_index') }}">{{ 'footer.my_account.my_profile'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('main_cart_show') }}">{{ 'footer.my_account.view_cart'|trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('main_logout') }}">{{ 'footer.user_links.logout'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                <div class="col-sm-12 mt-3">
                    <h4 class="widget-title">{{ 'footer.сhange_language.head'|trans }}</h4>
                    <ul class="widget-list">
                        <li>
                            <a href="{{ path('main_homepage', {_locale: 'en'}) }}">
                                {{ 'footer.сhange_language.english'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('main_homepage', {_locale: 'ru'}) }}">
                                {{ 'footer.сhange_language.russian'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 mt-3">
                    <p class="widget-copyright">{{ 'footer.copyright'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>