{% set productsCount = products|length %}
{% if productsCount %}
    <div class="pt-2 pb-2">
        <div class="container-fluid">
            <div class="text-center mb-3">
                <h2 class="title">{{ 'similar_products.head'|trans }}</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-list">
                        <div class="row">
                            {% for product in products %}
                            {% set images = product.getProductImages().getValues() %}
                            {% if images|length %}
                            {% set cover = images[0] %}
                            {% if productsCount <= 4 %}
                            <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                {% elseif productsCount > 4 %}
                                <div class="col-5 col-md-3 col-lg-3 col-xl-2">
                                    {% endif %}
                                    <div class="product-item text-center">
                                        <figure class="product-media">
                                            <span class="product-sale-status sale-status-new">{{ 'similar_products.new'|trans }}</span>
                                            <a href="{{ path('main_product_show', {'identifier': product.uuid}) }}">
                                                <img src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ cover.getFilenameMiddle()) }}"
                                                     alt="{{ product.title }}"
                                                     class="product-image">
                                            </a>

                                            <div class="product-actions">
                                                <a href="#" class="btn-add-to-cart">
                                                    {{ 'product.add_to_cart'|trans }}
                                                </a>
                                            </div>
                                        </figure>

                                        <div class="product-card-content">
                                            <h3 class="product-title">
                                                <a href="{{ path('main_product_show', {'identifier': product.uuid}) }}">{{ product.title }}</a>
                                            </h3>
                                            <div class="product-price justify-content-center">
                                                ${{ product.price }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
