{% extends 'admin/layout/layout_main.html.twig' %}

{% block title_detailed %}All orders{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            {% include 'admin/_embed/_card/_header_action.html.twig' with
                {
                    'sectionTitle': 'Orders',
                    'actionUrl': path('admin_order_add')
                } %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="main_table">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'o.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Full name', 'u.id') }}</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Created at', 'o.createdAt') }}</th>
                        <th>Count of products</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Total price', 'o.totalPrice') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Status', 'o.status') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in pagination %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.owner.fullname|default('Fullanme is\'t specified') }}</td>
                            <td>{{ order.owner.email }}</td>
                            <td>{{ order.owner.phone|default('Phone is\'t specified') }}</td>
                            <td>{{ order.createdAt|format_datetime('full', 'medium') }}</td>
                            <td>{{ order.getOrderProducts.getValues|length }}</td>
                            <td>{{ order.totalPrice|format_currency('USD') }}</td>
                            <td>{{ orderStatusChoice[order.status] }}</td>
                            <td>
                                <a href="{{ path('admin_order_edit', {'id': order.id}) }}" class="btn btn-outline-info">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
