{% if socialNameId %}
    <span class="social-group social-group--unlink">
        {{ 'personal_account.social_group.link'|trans }}
    </span>
    <a class="social-group social-group--link" href="{{ url('main_profile_unlink_social_network', {'socialName': socialName}) }}">
        {{ 'personal_account.social_group.unlink'|trans }}
    </a>
{% else %}
    {% if 'github' != socialName %}
        <a class="social-group social-group--link" href="{{ path('connect_'~ socialName ~'_start') }}">
            {{ 'personal_account.social_group.link'|trans }}
        </a>
    {% else %}
        <a class="social-group social-group--link" href="{{ path('connect_'~ socialName ~ '_' ~ app.request.locale ~'_start') }}">
            {{ 'personal_account.social_group.link'|trans }}
        </a>
    {% endif %}
    <span class="social-group social-group--unlink">
        {{ 'personal_account.social_group.unlink'|trans }}
    </span>
{% endif %}
