<div class="container-fluid">
    <button class="mobile-menu-toggler" id="mobile_menu_toggler">
        <i class="fas fa-bars"></i>
    </button>

    <a href="{{ path('main_homepage') }}" class="logotype">
        <img src="{{ asset('build/images/icons/logo_366x79.svg') }}" alt="RankedChoice Logotype">
    </a>
    <nav class="main-nav">
        <ul class="menu">
            {% for category in nav_categories %}
                <li class="menu-item">
                    <a href="{{ category.url }}">
                        <div>{{ category.title }}</div>
                    </a>
                </li>
            {% endfor %}

            <li class="menu-item font-weight-bold">
                {% if app.user is not null and app.user.verified %}
                    <a href="{{ path('main_profile_index') }}">
                        <div>{{ 'header_menu.profile'|trans }}</div>
                    </a>
                {% else %}
                    <a href="{{ path('main_login') }}">
                        <div>{{ 'header_menu.login'|trans }}</div>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
    <select class="custom-select custom-select-sm" id="select-language">
        <option value="/en/" data-url="{{ app.request.pathInfo }}">{{ 'header_menu.en'|trans }}</option>
        <option value="/ru/" data-url="{{ app.request.pathInfo }}">{{ 'header_menu.ru'|trans }}</option>
    </select>
</div>
