<div class="container-fluid">
    <button class="mobile-menu-toggler" id="mobile_menu_toggler">
        <i class="fas fa-bars"></i>
    </button>

    <a href="{{ path('main_homepage') }}" class="logotype">
        <img src="{{ asset('build/images/icons/logo_366x79.svg') }}" alt="RankedChoice Logotype">
    </a>
    <nav class="main-nav">
        <ul class="menu">
            {{ render(controller('App\\Controller\\Front\\EmbedController::showHeaderMenu')) }}
            <li class="menu-item font-weight-bold">
                {% if app.user is not null and app.user.verified %}
                    <a href="{{ path('main_profile_index') }}">
                        <div>{{ 'header_menu.profile'|trans }}</div>
                    </a>
                {% else %}
                    <a href="{{ path('main_login') }}">
                        <div>{{ 'header_menu.login'|trans }}</div>
                    </a>
                {% endif %}
            </li>
            <li class="menu-item">
                <select class="custom-select custom-select-sm" id="desktop-select-language">
                    <option value="/en/" data-url="{{ app.request.pathInfo }}">{{ 'header_menu.en'|trans }}</option>
                    <option value="/ru/" data-url="{{ app.request.pathInfo }}">{{ 'header_menu.ru'|trans }}</option>
                </select>
            </li>
            <li class="menu-item">
                {{ include('front/_embed/_menu/_menu_cart.html.twig') }}
            </li>
        </ul>
    </nav>
</div>
