{% extends 'front/base.html.twig' %}

{% block title %}Category - {{ category.title }}{% endblock %}
{% block page_keywords %}{{ category.title|lower }}{% endblock %}
{% block page_description %}{{ category.title }}!{% endblock %}

{% block body %}
    <div class="text-center">
        <div class="container mt-3 mb-2">
            <div class="row">
                <div class="col-lg-12 mb-2">
                    <div class="page-title2">
                        <a class="page-title title-gradient-1">{{ category.title }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-list mb-3">
                        <div class="row justify-content-center">
                            {% for product in products %}
                                {% set images = product.getProductImages().getValues() %}
                                {% if images|length %}
                                    {% set cover = images[0] %}
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                        <div class="product-item">
                                            <figure class="product-media">
                                                <span class="product-sale-status sale-status-new">{{ 'similar_products.new'|trans }}</span>
                                                <a href="{{ path('main_product_show', {'identifier': product.uuid}) }}">
                                                    <img
                                                        src="{{ asset('uploads/images/products/' ~ product.id ~ '/' ~ cover.filenameMiddle) }}"
                                                        alt="{{ product.title }}"
                                                        class="product-image"
                                                    >
                                                </a>
                                                <div class="product-actions">
                                                    <a href="#" class="btn-add-to-cart" data-id="{{ product.uuid }}" data-add-cart>
                                                        {{ 'product.add_to_cart'|trans }}
                                                    </a>
                                                </div>
                                            </figure>
                                            <div class="product-card-content">
                                                <h3 class="product-title">
                                                    <a href="{{ path('main_product_show', {'identifier': product.uuid}) }}">{{ product.title }}</a>
                                                </h3>
                                                <div class="product-price justify-content-center">
                                                    ${{ product.price }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="alert alert-warning alert-dismissible text-center" role="alert">
                                    {{ 'product.products_not_fount'|trans }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const el = document.querySelectorAll('[data-add-cart]');
        el.forEach(function (item) {
            item.addEventListener('click', function (event){
                event.preventDefault();

                window.vueMenuCartInstance.addCartProduct({
                    uuid: this.getAttribute('data-id')
                });
            });
        })
    </script>
{% endblock %}

