{% extends 'front/base.html.twig' %}

{% block title %}Homepage - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-lg-6">
                <h2>Edit product</h2>
                {{ form_start(form) }}

                {{ form_row(form.title) }}
                {{ form_row(form.price) }}
                {{ form_row(form.quantity) }}
                {{ form_row(form.description) }}
                {{ form_row(form.isPublished) }}
                {{ form_row(form.isDeleted) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
