{% extends 'front/base.html.twig' %}

{% block title %}{{ 'homepage.head'|trans }}{% endblock %}
{% block page_description %}{{ 'homepage.description'|trans }}!{% endblock %}

{% block body %}
    <div class="container-fluid mt-2">
        {% if categories|length > 0 %}
            <div class="row">
                {% for category in categories %}
                    {% if loop.index == 1 or loop.index == 2 %}
                        <div class="col-lg-6">
                            <div class="banner banner-big">
                                <a href="{{ category.url }}">
                                    <img src="{{ category.rand_product_img }}" alt="{{ category.title }}">
                                </a>

                                <div class="banner-content">
                                    <h3 class="banner-subtitle">
                                        {{ 'category.new_collection'|trans }}!
                                    </h3>
                                    <h2 class="banner-title">
                                        {{ category.title }}
                                    </h2>
                                    <a href="{{ category.url }}" class="btn btn-link">
                                        {{ 'category.show_me'|trans }}!
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if categories|length > 2 %}
                <div class="row mt-1 justify-content-center align-items-center">
                    {% for category in categories %}
                        {% if loop.index != 1 and loop.index != 2 %}
                            <div class="col-md-6 col-lg-4">
                                <div class="banner banner-middle">
                                    <a href="{{ category.url }}">
                                        <img src="{{ category.rand_product_img }}" alt="{{ category.title }}">
                                    </a>

                                    <div class="banner-content">
                                        <h3 class="banner-subtitle">
                                            {{ 'category.unique'|trans }}!
                                        </h3>
                                        <a href="{{ category.url }}" class="btn btn-link">
                                            {{ category.title }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>

    {{ render(controller('App\\Controller\\Front\\EmbedController::showSimilarProducts', {'productCount': 4})) }}
{% endblock %}
