<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}Symfony shop - pet project{% endblock %}</title>
    <meta name="keywords" content="{% block page_keywords %}symfony, symfony shop, pet project, symfony 5{% endblock %}">
    <meta name="description" content="{% block page_description %}Symfony shop - pet project{% endblock %}">
    {% block canonical_link %}{% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/images/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('build/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ asset('build/images/favicon/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ asset('build/images/favicon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    {{ encore_entry_link_tags('section-front') }}
    {% block stylesheets %}{% endblock %}
</head>

<body>
<div class="page-wrapper">
    {% include 'front/_embed/_header.html.twig' %}

    <main class="main">
        {% include 'front/_embed/_utils/_flash_message.html.twig' %}
        {% block body %}{% endblock %}
    </main>

    {% include 'front/_embed/_footer.html.twig' %}
</div>

{{ encore_entry_script_tags('section-front') }}
{% block javascripts %}{% endblock %}
</body>
</html>
